body {
    height: 100vh;
    overflow: hidden;
}

.wawe-sec {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wawe-sec img {
    filter: opacity(0.05);
    width: 70%;
    z-index: -1;
}

.pd-middele {
    background: #ffffffcc;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: absolute;
    transform: scale(1.2);
    top: 33%;
    left: 50%;
    margin-left: -160px;
    animation: wawing 2s linear infinite;
}

@keyframes wawing {
    0% {
        box-shadow: 0px 0px 0 0 #ffffffdb;
    }
    50% {
        box-shadow: 0px 0px 0 100vh #ffffffdb;
    }
}